<div class="about-me">
    <img class="my-photo" src="assets/my-photo.png" alt="">
    <div class="side-text">
        <div class="up-quote">
            <img class="icon" src="assets/icon.png" alt="">
            <div>
                <h1 class="quote">“I know who I was when I got up this morning, but I think I must have been changed several times since then” <br> - Lewis Carroll</h1>    
            </div>
            
        </div>
        <div class="text-description">
            <p >I'm curiosity driven and passionate about everything that involves    <span>creating</span> all kinds of things and <span>solving problems</span>.</p>
            
            <p>Currently finishing my second degree as a <span>technologist in system analysis and development</span> with 2 years of experience as a developer and 4 years of experience as a self-learned designer. In 2021 I also did a 6 month fullstack development bootcamp.
            </p>
            
            <p>My first degree is in culinary and I've worked in hotels before the pandemic. I'm happiest when I'm <span>creating, learning, crafting, embroidering and riding my bike at the beach</span>.</p>
        </div>
</div>
