@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;700&display=swap');

*{
    color: #01124C;
}

.about-me{
    background: #FECCC5;
    padding: 0 8vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95vh;
}

.my-photo{
    width: 40%;
}

.icon{
    height: 10vh;
}

.side-text{
    width: 45%;
}

.up-quote{
    display: flex;
    align-items: flex-start;
    padding-bottom: 5vh;
}

.quote{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: normal;
    padding-left: 2vw;
}

.text-description{
    font-family: 'Amiko', sans-serif;
    font-size: large;
    line-height: normal;
}

span{
    font-weight: 700;
}