<div class="experiences">
    <div class="experiences-columns">
        <div class="work">
            <h1>work experience</h1>
            <div>
                <h2>IBM | software developer intern</h2>
                <h3>march 2022 - march 2024</h3>
                <p>Frontend development using Angular and TypeScript in an award-winning application, present in over 90 countries, that uses machine learning to predict the probability of an IBM customer paying or not paying the invoice, with 83% effectiveness.</p>    
            </div>
            <div>
                <h2>Freelancer Graphic Designer</h2>
                <h3>since 2020</h3>
                <p>Visual identity, logos, social media, video editing.</p>    
            </div>
        </div>
        <div class="education">
            <h1>education</h1>
            <div>
                <h2>UNESA | system analysis and development</h2>
                <h3>september 2021 - september 2024</h3>
            </div>
            <div>
                <h2>Resilia Educação | fullstack development bootcamp</h2>
                <h3>july 2021 - february 2022</h3>
            </div>
            <div>
                <h2>UNISUAM | culinary school</h2>
                <h3>september 2017 - april 2020</h3>
            </div>
        </div>
    </div>
    <a href="https://www.linkedin.com/in/camilafrangel/" target="_blank" class="linkedin-button" mat-flat-button>more experiences</a>
</div>
